DATABASE_URL=
SESSION_SECRET=
GOOGLE_CLIENT_ID=
GOOGLE_CLIENT_SECRET=
GOOGLE_REFRESH_TOKEN=
GOOGLE_DRIVE_FOLDER_ID=
ADMIN_USERNAME=
ADMIN_PASSWORD=
ADMIN_NICKNAME=
WEDDING_INVITE_CODE=
PORT=5000
API_PORT=3001
NODE_ENV=development
